<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Welcome</h2>
        <img src="https://i.pinimg.com/736x/45/4a/26/454a264bcc9aba3ee65b5b6c0b56e5c2.jpg" alt="Welcome Image" class="img-fluid mt-3">
        <form method="POST" action="{{ url_for('logout') }}">
            <button type="submit" class="btn btn-primary mt-4">Logout</button>
        </form>
    </div>
</body>
</html>